{% extends 'Samples/base.html' %}

{%  block content %}
    <div class="row justify-content-center mt-5">
        <div class="col-md-5">
            <h2>Edit Sample</h2>
        </div>
    </div>

    <div class="row justify-content-center mt-5">
        <div class="col-md-5">
            {% if error %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endif %}
    
            <form method ="POST" >
                {% csrf_token %}
                {{ form.as_div }}
                <button type="submit" class="btn btn-primary">Save</button>
            </form>
            <br>
            <form method="POST" action="{% url 'getresults' sample.id %}">
                {% csrf_token %}
                <button id="results" class="btn btn-success" type="submit">Results</button>
            </form>
            
        </div>
    </div>
{% endblock %}
